*, :before, :after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body
{
    background-color:grey;
}
.container
{
    display: block;
    width: 60%;
    margin: auto;
    background-color: white;
}
header .liens
{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
.liens a
{
    text-align: center;
    font-style: normal;
    font-family: century Verdana, Geneva, Tahoma, sans-serif;
    height: 20%;
    color: #662F32;
    padding: 50px 30px 30px 30px;
    text-decoration: none;
}   
li
{
    list-style-type: none;
    margin-bottom: 20px;
}
.liens a:hover
{
    background-color: #662F32;
    color: white;
}
.lien-home
{
    display: flex;
    flex-direction: column;
}
h1 
{
    display: flex;
    justify-content: center;
    text-align: center;
    font-family: century Verdana, Geneva, Tahoma, sans-serif;
    margin: 10% 40% 5% 40%;
    font-size: 300%;
    height: 70%;
}
h1 strong 
{
    color: 	#662F32;
}
h1 span
{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.images-resize
{   
    width: 100%;
    height: 35%;
}
.paragraphes-principaux 
{
    display: flex;
    justify-content: space-evenly;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
    padding: 5px;
    margin: 10px;
}
h2
{
    display: flex;
    justify-content: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: white;
    background-color: #662F32;
    width: 100%;
    padding:5px;
}
.paragraphe-premiers   
{
    display: flex;
    flex-wrap: wrap;
    border-style: solid;
    justify-content: flex-end;
    background-color: #605d5d;
}
.background-p
{
    display: flex;
}
.bouton {
    align-self: flex-end;
}
.paragraphes-secondaires
{
    display: flex;
    justify-content: space-around;
    width: 90%;
    background-color: white;
}
p
{
    margin-bottom: 30px;
}
.paragraphes-secondaires a
{
    background-color: #605d5d;
    color: white;
    padding: 10px;
}
.paragraphes-secondaires a:hover
{
    background-color: #662F32;
    color: white;
}
h3
{
    text-align: left;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #6c645c;
    margin-bottom: 10%;
}
.premier-paraph-secondaire
{
    list-style-image: url("../img/arrow.png");
    list-style-position: inside;
    width: 50%;
    margin-left: 10%;
}
.deuxieme-paraph-secondaire
{
    width: 50%;
    margin: 0 40px;
}
.deuxieme-paraph-secondaire p:nth-child(3n-1)
{
    color: #662F32;
    font-weight: bold;
}
.troisieme-paraph-secondaire
{
    width: 50%;
}
.troisieme-paraph-secondaire p:nth-child(3n-1)
{
    color: #662F32;
    font-weight: bold;
}
nav a
{
    text-align: left;
    font-style: normal;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #6c645c;
    text-decoration: none;
    padding-bottom: 15px;
}
footer
{
    border-top: 1px solid #6c645c ;
    display: flex;
    justify-content: space-between;
    margin-top: 5%;
    padding: 1.5rem;
}
.logo-resize
{
    width: 60px;
}

